<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Info</title>
</head>
<body>
    <center><form action="{{url_for('getinfo')}}" method="post">
        <label for="name">Name</label>
        <input type="text" placeholder="Name" name="name"><br>
        <label for="age">Age</label>
        <input type="text" placeholder="Age" name="age"><br>
        <label for="rollno">Roll Number</label>
        <input type="text" placeholder="Roll No." name="rollno"><br>
        <input type="submit">
    </form></center>
    
</body>
</html>